target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/
.metadata/

# VS Code
.vscode/

# Mac
.DS_Store

# Py scripts added for agent
remove_lombok.py
